body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  word-break: break-all;
}

a {
  color: #32282e;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// header
.header {
  position: relative;
  max-width: 1000px;
  margin: 15px auto;
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin: 0px auto;
  letter-spacing: 0.05em;
  font-size: 28px;
  &__link {
  }
}


// menu
.menu {
  display: inline-flex;
  position: absolute;
  right: 20px;
}

// menu button
.menu-btn {
  position: relative;
  width: 30px;
  height: 25px;
  z-index: 500;
  cursor: pointer;
  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 11px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}
.menu-btn,
.menu-btn span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}

// menu opened navigation
.menu--active {
  .menu-nav {
    opacity: 1;
    visibility: visible;
  }
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    background-color: rgba(40,40,40,0.7);
    width: 100%;
    height: 100%;
    z-index: 100;
  }
}
.overlay {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

// menu opened btn
.menu--active {
  .menu-btn {
    span {
      &:nth-of-type(1) {
        -webkit-transform: translateY(6px) rotate(-45deg);
        transform: translateY(6px) rotate(-45deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        -webkit-transform: translateY(-15px) rotate(45deg);
        transform: translateY(-15px) rotate(45deg);
      }
    }
  }
}

// menu opened content
.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
  height: 100%;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 200;
  overflow-x: scroll;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  &__list {
    margin-top: -200px;
    width: 100%;
  }
  &__item {
    text-align: center;
  }
  &__link {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
  }
}

// footer copyright
.copyright {
  margin: 10px 0;
  text-align: center;
  small {
    font-size: 15px;
  }
}

.content-title {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.05em;
}


// タブレット縦, スマートフォン横
@media screen and (min-width: 481px) {
  .header-logo {
    font-size: 35px;
  }
}

// デスクトップ, タブレット横
@media screen and (min-width: 769px) {
  .nav-list {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .header-logo {
    font-size: 50px;
  }
  .menu {
    top: 20px;
  }
  .menu-btn {
    width: 50px;
    height: 44px;
    span {
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 20px;
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }
  }
  .menu--active {
    .menu-btn {
      span {
        &:nth-of-type(1) {
          -webkit-transform: translateY(20px) rotate(-45deg);
          transform: translateY(20px) rotate(-45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          -webkit-transform: translateY(-20px) rotate(45deg);
          transform: translateY(-20px) rotate(45deg);
        }
      }
    }
  }


}
