.article {
  margin-top: 10px;
  &__head {
    position: relative;
    height: 45vh;
    img {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__main {
    border-radius: 20px;
    margin-top: -30px;
    padding: 20px;
    background-color: #fff;
  }
}

//
.info {
  padding: 0 20px;
  position: absolute;
  bottom: 40px;
  color: #fff;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 5px #555;
  &__title {
    margin: 0;
    font-size: 20px;
  }
  &__date {
    text-align: right;
  }
}

// article main text
.content {
  &__text {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.8;
  }
  &__link {
    a {
      margin: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #32282e;
      border-radius: 3px;
      text-decoration: none;
      height: 44px;
    }
  }
}

// article score(good and bad)
.score {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  &__btn {
    float: left;
    display: flex;
    align-items: center;
    overflow: hidden;
    button {
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border: 1px solid #999;
      border-radius: 50%;
      background-color: #fff;
      outline: none;
      transition: 0.4s;
      &:disabled {
        border: 1px solid #fff;
        color: #fff;
      }
    }
    &__count {
      margin: 0 10px;
      float: left;
    }
    &--good {
      &:disabled {
        background-color: #00c853;
      }
    }
    &--bad {
      &:disabled {
        background-color: #ff8181;
      }
    }
  }
}

.recommend {
  margin: 20px;
}

// タブレット縦, スマートフォン横
@media screen and (min-width: 481px) {
}

// デスクトップ, タブレット横
@media screen and (min-width: 769px) {
  .article {
    max-width: 1000px;
    margin: 20px auto 0;
    padding: 0 20px;
    &__head {
      .info {
        width: 100%;
      }
      img {
        border-radius: 20px;
      }
    }
    &__link {
      a {
        height: 70px;
        font-size: 1.2em;
      }
    }
  }
}
